<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  var socket = io('http://138.197.18.2');
</script>

<h1>Rooster Coffee Pot</h1>
<p><button onclick="socket.emit('toggle');">Click here to toggle!</button></p>